.lobby {
  
}

.lobby__ready-state {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  padding: 4px 8px;
  
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  
}

.lobby--not-ready {
  background: $secondary-negative-color;
}

.lobby--ready {
  background: $secondary-color;
  text-shadow: 0 0 2px #aaa;
}


.lobby__action-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 15px;
}

.lobby__list {
  @extend %reset-list;
  margin-bottom: 30px;
}

.lobby__list-item {
  font-size: 18px;
  padding: 15px 0;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  position: relative;
  
  &:last-child {
    border-bottom: none;
  }
}

.lobby__radio-button {
  margin-right: 5px;
}

.lobby__button {
  @extend %button-primary;
}

.lobby__player-name {
  &, &[type="text"] {
    margin-top: 0;
    border: none;
    text-align: center;
  }
}

.lobby__join {
  height: 110px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  margin: -15px;
  padding: 15px;
  box-sizing: border-box;
  background: rgba(255,255,255,0.8)
}
