
// Colors

$primary-text-color: #484848;

$offWhite: darken(white, 5%);
$primary-color: rgba(121, 189, 154, 1);
$secondary-color: rgba(168, 219, 168, 1);
$secondary-negative-color: #E86565;

// Fonts

$theme-font-sans-serif: Helvetica, Arial, sans-serif;